{% extends 'base.html.twig' %}
{% block body %}
  <h1>Espace administrateur</h1>
  <p>Bienvenue dans l'espace administrateur.</p>
  <ul>
    <li><a href="/admin/users/new">Créer un utilisateur parieur</a></li>
  </ul>
{% endblock %}

